.button{
  display: inline-block;
  cursor: pointer;
  border: solid #01487C 3px;
  transition: color 0.5s, background-color 0.5s;
}
.button--secondary{
  color: #01487C;
  background: none;
}
.button--primary:hover{
  color: #01487C;
  background-color: #fff;
}
.button--secondary:hover{
  color: #fff;
  background-color: #01487C;
}
.button--primary{
  background-color: #01487C;
  color: #fff;
}
.button--small {
  font-size: 12px;
  padding: 7px 20px;
}
.button--medium {
  font-size: 14px;
  padding: 8px 25px;
}
.button--large {
  font-size: 16px;
  padding: 9px 30px;
}
